In [219]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
df =  pd.read_csv("C:/Users/darth/Desktop/Data Science/titanic.csv")
df.head()
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace = True)
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [220]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [221]:
dummies = pd.get_dummies(inputs.Sex)

In [222]:
final = pd.concat([inputs,dummies],axis=1)
final =final.drop('Sex',axis='columns')
#final

In [223]:
final.columns[final.isna().any()]

Index(['Age'], dtype='object')

In [224]:
final.Age[1:10]

1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [225]:
t=final.Age.median()

In [226]:
final.Age=final.Age.fillna(t)
#final[0:10]
#final

In [227]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test =train_test_split(final,target,test_size=0.2)
X_train = pd.DataFrame(X_train)
Y_train = pd.DataFrame(Y_train)
X_test = pd.DataFrame(X_test)
Y_test = pd.DataFrame(Y_test)

In [228]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [229]:
model.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [230]:
model.score(X_test,Y_test)

0.7486033519553073

In [231]:
X_test[:10]

     Pclass   Age      Fare  female  male
839       1  28.0   29.7000       0     1
329       1  16.0   57.9792       1     0
354       3  28.0    7.2250       0     1
527       1  28.0  221.7792       0     1
330       3  28.0   23.2500       1     0
185       1  28.0   50.0000       0     1
408       3  21.0    7.7750       0     1
190       2  32.0   13.0000       1     0
489       3   9.0   15.9000       0     1
246       3  25.0    7.7750       1     0

In [232]:
Y_test[:10]

     Survived
839         1
329         1
354         0
527         0
330         1
185         0
408         0
190         1
489         1
246         0

In [233]:
model.predict(X_test[:10])

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 1], dtype=int64)

In [234]:
#### email ###########

In [235]:
import pandas as pd
df =  pd.read_excel("C:/Users/darth/Desktop/Data Science/email.xlsx")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [237]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [238]:
# convert text to nos
df['spam']=df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [239]:
from sklearn.model_selection import train_test_split
import numpy as np
X_train, X_test, Y_train, Y_test =train_test_split(df.Message,df.spam,test_size=0.25)
X_train= np.array(X_train)
Y_train = np.array(Y_train)
X_test = np.array(X_test)
Y_test = np.array(Y_test)

In [241]:
# count vectorization to convert message into numerical data

from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train)
#X_train_count.toarray()
#X_test_count = v.fit_transform(X_test)

AttributeError: 'numpy.ndarray' object has no attribute 'lower'

In [170]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,Y_train)

MultinomialNB()

In [218]:
emails = [
    'Hey mohan, can we get together to watch football game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

NotFittedError: Vocabulary not fitted or provided

In [163]:
Y_test

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [175]:
X_test_count = v.fit_transform(X_test)
#model.predict(v.fit_transform(l))

AttributeError: 'int' object has no attribute 'lower'

In [251]:
from sklearn.datasets import load_wine
wine = load_wine()
df = pd.DataFrame(wine.data,columns= wine.feature_names)
df['target']=wine.target
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [269]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [255]:
def get_modelscore(model,X_train, X_test, y_train, y_test):
    model.fit(X_train,y_train)
    return model.score(X_test,y_test)

In [257]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.3, random_state=100)
X_train= np.array(X_train)
Y_train = np.array(Y_train)
X_test = np.array(X_test)
Y_test = np.array(Y_test)

In [258]:
get_modelscore(GaussianNB(),X_train, X_test, y_train, y_test)

1.0

In [260]:
get_modelscore(MultinomialNB(),X_train, X_test, y_train, y_test)

0.7777777777777778

In [262]:
get_modelscore(LogisticRegression(),X_train, X_test, y_train, y_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9629629629629629

In [265]:
get_modelscore(SVC(),X_train, X_test, y_train, y_test)

0.5555555555555556

In [266]:
get_modelscore(DecisionTreeClassifier(),X_train, X_test, y_train, y_test)

0.8518518518518519

In [270]:
get_modelscore(RandomForestClassifier(),X_train, X_test, y_train, y_test)

1.0

In [271]:
from sklearn.model_selection import GridSearchCV

NameError: name 'clf' is not defined